@{
    ViewBag.Title = "Neler Yaparım Düzenle";
    Layout = "~/Areas/Administrator/Views/adminLayout.cshtml";
}

@{
    System.Data.Entity.Infrastructure.DbQuery<MyWebEntityLibrary.WhatIDoEntity.WhatIDoTable> updateCollec = (System.Data.Entity.Infrastructure.DbQuery<MyWebEntityLibrary.WhatIDoEntity.WhatIDoTable>)ViewBag.Update;


}
<script>
    window.onload = function () {
        $("#whatIDoLi").addClass("active");
        $("#homeLi").removeClass("active");
    }
</script>
<section class="content">
    <div class="contentici">
        @{using (Html.BeginForm("UpdateWhatIDoAdd", "AdmWhatIDo", FormMethod.Post, new { enctype = "multipart/form-data", @class = "ac-checkbox ac-checkmark yazi_form" }))
        {
            foreach (var item in updateCollec)
            {
                @Html.ValidationSummary(true)
                <div class="yazibaslik">
                    @Html.ValidationMessage(item.WhatIDoTitle)
                    @Html.TextBox("WhatIDoTitle", item.WhatIDoTitle, new { @class = "articleTitle", placeholder = "Dosya Başlığı" })
                </div>
                <br />
                <br />
                <div class="yazibaslik">
                    @Html.ValidationMessage(item.WhatIDoTags)
                    @Html.TextBox("WhatIDoTags", item.WhatIDoTags, new { @class = "articleTitle", placeholder = "Etiketler(virgül ile ayırınız)" })
                </div>
                <br /><br />
                <div class="yazibaslik">
                    @Html.TextArea("WhatIDoContent", item.WhatIDoContent, new { @class = "articleTitle", placeholder = "İçerik", id = "editor1" })
                </div>
                <br /><br />
                @Html.Hidden("WhatIDoID", item.WhatIDoID)
                <script type="text/javascript">
                    var editor = CKEDITOR.instances['editor1']
                    if (editor) { editor.destroy(true); }
                    CKEDITOR.replace('editor1', {
                        enterMode: CKEDITOR.ENTER_BR,
                    })
                    CKFinder.setupCKEditor(null, '@Url.Content("~/ckeditor/ckfinder/")')
                </script>
              
                <div class="onecikan">
                    <div class="resimekle">
                        <div class="resimekleic">
                            <label for="Image">
                                <img src="~/Content/Images/@item.WhatIDoImage" alt="resimekle">
                            </label>
                            <input type="file" id="Image" name="Image"  style="display: none;" />

                        </div>
                    </div>
                </div>
                @Html.Hidden("WhatIDoImage", item.WhatIDoImage)

                <br /><br />
                <ul class="ac-custom kategorilerssss">
                    @if (item.PublishId == 0)
                    {
                        <li>
                            @Html.CheckBox("chkPublish", false, new { name = "category", id = "kategori_1" })

                            <b style="margin-left: 25px;">Yayına Al</b>
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.CheckBox("chkPublish", true, new { name = "category", id = "kategori_1" })

                            <b style="margin-left: 25px;">Yayından Kaldır</b>

                        </li>

                    }
                    @Html.Hidden("chkPublish", item.PublishId)
                </ul>

                <br />
                <br />


            }

            <button>GÜNCELLE</button>

        }
        }

        <script src="~/Content/Administrator/scripts/onecikan_ekle.js"></script>
    </div>
</section>