@{
    if (Model != null)
    {
        ViewBag.Title = @Model.FileTitle;
    }
    else
    {
        ViewBag.Title = "Hata!";
    }
    Layout = "~/Views/topLayout.cshtml";
}

<body>



    <div class="col-md-8">
        @{
            if (Model != null)
            {

                <div class="renk girdi">
                    <h3 class="baslik">@Model.FileTitle</h3>
                    <ul class="girdiBilgi">
                        <li><i class="fa fa-calendar"></i>@Model.Date</li>
                        <li><i class="fa fa-user"></i>@Model.FileAuthor</li>

                    </ul>

                    <span class="girdiIcerik">
                        <img src="~/Content/Images/@Model.FileImage" alt="@Model.FileTitle" id="contentImg" class="img-responsive pull-left" />
                        <p>
                            @Html.Raw(Model.FileContent)
                        </p>
                        @{if (Model.FileStream=="Dosya Yok")
                        {
                            <b></b>

                        }
                          else
                          {
                              <b>Dosya Linki: <a href="~/Content/Files/@Model.FileStream">TIKLAYIN!</a></b> 
                          }
                        }


                        <hr />
                        <span class="etiket">

                            @{string tag = Model.FileTags;
                            string[] tagBreak = tag.Split(',');
                            }

                            @foreach (var tags in tagBreak)
                            {
                                <a href="~/etiketler/@tags.Trim().Replace(' ', '-')">@tags</a><text>,</text>
                            }

                        </span>
                    </span>

                </div>



                <div class="renk yorumyaz">
                    @using (Html.BeginForm("CommentAdd", "ContentDetail",FormMethod.Post))
                    {

                        <div class="form-group">
                            <label for="isim">Ad Soyad</label>
                            @Html.TextBox("NameSurname", "", new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            <label for="mail">Mail</label>
                            @Html.TextBox("Mail", "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="yorum">Yorum</label>
                            @Html.TextArea("Comment", "", new { @class = "form-control" })

                            @{int id = Model.FileID; string uri = Request.AppRelativeCurrentExecutionFilePath; string title = @Model.FileTitle;}
                            @Html.Hidden("ContentId", id)
                            @Html.Hidden("CommentArea", "Dosyalar")
                            @Html.Hidden("ContentTitle", title)
                            @Html.Hidden("uri", uri)
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Yorumu Gönder</button>
                        </div>

                    }
                </div>

                foreach (var item in (IEnumerable<MyWebEntityLibrary.CommentsEntity.CommentsTable>)ViewData["setComment"])
                {
                    <div class="renk yorum">
                        <img src="~/Content/Images/comment-icon.png" width="80" height="80" alt="@item.NameSurname" class="pull-left" />
                        <span class="yazar">@item.NameSurname</span>
                        <span class="zaman">@item.Date</span>
                        <p>@item.Comment</p>
                    </div>
                    <br />
                }

            }
            else
            {
                <div style=" ">

                    <div class="renk girdi">
                        <center><b style="font-size:36px;">404 NOT FOUND</b></center><br /><br />
                        <center><b style="font-size:20px;">HATA! ULAŞMAYA ÇALIŞTIĞINIZ SAYFA BULUNAMADI!</b></center>
                    </div>

                </div>
            }
        }
    </div>





</body>
