@using Microsoft.Ajax.Utilities
@using MyWeb.Areas.Administrator.Models
@using MyWebEntityLibrary.SocialMediasEntity
<!DOCTYPE html>

<link href="~/Content/MyCss.css" rel="stylesheet" />
<script src="~/Content/js/jquery-1.8.2.min.js"></script>
<script src="~/Content/Script/MyScript.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery-migrate.min.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon"
          type="image/png"
          href="~/Content/Images/csharp.png" />
    <meta name="description" content="Software Developer Fatih YAZICI" />
    <meta name="keywords" content="software developer,fatih yazıcı,mvc geliştirici,net geliştirici,yazıcı fatih" />
    <meta name="author" content="Fatih YAZICI" />


    <link rel="icon" type="image/png" href="~/Content/Images/csharp.png" />
    <link href="~/Content/MyCss.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif%7COpen+Sans:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/stil.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css" />



</head>

<body>

    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @{

                        MyWebEntityLibrary.MyWebContext entity = new MyWebEntityLibrary.MyWebContext();
                        var comingInformation = new SocialMediasTable();
                        try
                        {
                            comingInformation = (from p in entity.SocialMedias select p).First(id => id.SocialMediasId > 0);
                        }
                        catch (Exception)
                        {
                            ModelSocialMedia _modelSocialMedia=new ModelSocialMedia();

                           _modelSocialMedia.UpdateSocialMedia("Fatih YAZICI", ".Net Dünyasında Kaybolmuş Microsoft Sever(MEGABAYT)", "https://www.facebook.com/o.bir.coder", "http://instagram.com/obircoder", "https://twitter.com/TeknodeliFatih", "https://www.youtube.com/channel/UCG_yhERI1Q8RD_aJazfcfrA", "https://www.linkedin.com/profile/preview?locale=tr_TR&trk=prof-0-sb-preview-primary-button", "https://github.com/megabayt93","profil.jpg");
                        }
                     
                    }
                    <a class="navbar-brand" href="~/anasayfa"><i class="fa fa-user"></i> @comingInformation.Banner</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" onclick="myfunction">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="homeli">@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                        <li id="filesli">@Html.ActionLink("Dosyalar", "Index", "Files")</li>
                        <li id="articlesli">@Html.ActionLink("Makaleler", "Index", "Articles")</li>
                        <li id="whatidoli">@Html.ActionLink("Neler Yapıyorum?", "Index", "WhatIDo")</li>
                        <li id="contactli">@Html.ActionLink("İletişim", "Index", "Contact")</li>
                    </ul>


                </div>
            </div>
        </nav>

        <div class="row-fluid">
            <div class="renk kutu tanit">
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
                    <img src="~/Content/Images/@comingInformation.Image" class="img-responsive img-rounded" alt="@comingInformation.Banner" />
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-8">
                    <h1 style="margin:0;line-height:1.2;">@comingInformation.Banner</h1>
                    <p>@comingInformation.Explanation</p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 sosyol">
                    <ul class="sosyalJumb pull-right">
                        <li><a href="@comingInformation.Facebook" target="_blank" class="fa fa-facebook"></a></li>
                        <li><a href="@comingInformation.Twitter" target="_blank" class="fa fa-twitter"></a></li>
                        <li><a href="@comingInformation.Youtube" target="_blank" class="fa fa-youtube"></a></li>
                        <li><a href="@comingInformation.Instagram" target="_blank" class="fa fa-instagram"></a></li>
                        <li><a href="@comingInformation.LinkedIn" target="_blank" class="fa fa-linkedin"></a></li>
                        <li><a href="@comingInformation.Github" target="_blank" class="fa fa-github"></a></li>
                        
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">

            @RenderBody()


            <div class="col-md-4">

                <div class="renk kutu ara">
                    @using (Html.BeginForm("Index", "Search"))
                    {
                        <input type="text" class="araInput" name="searchText" placeholder="Arama" id="searchtext" />
                        <button class="araButon" name="search" id="searchbutton"><i class="fa fa-search"></i></button>
                        <!--<input type="submit" class="araButon" name="search" id="searchbutton" value="Ara" />-->
                    }




                </div>
                <div class="renk kutu kat">
                    <h3 class="baslik"><i class="fa fa-tasks"></i>Etiketler</h3>
                    <ul>
                        <li><a href="~/etiketler/csharp">C-Sharp</a></li>
                        <li><a href="~/etiketler/asp-net">Asp.net</a></li>
                        <li><a href="~/etiketler/entity-framework">Entity FrameWork</a></li>
                        <li><a href="~/etiketler/javaScript">Javascript</a></li>
                        <li><a href="~/etiketler/sql-server">SQL Server</a></li>
                        <li><a href="~/etiketler/oop">OOP</a></li>
                    </ul>
                </div>

                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FYatechIndustries%3Fref%3Dhl&amp;width=300&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 100% !important;
    background-color:white; height:290px;" allowtransparency="true"></iframe>
                <br />
                <br />
                <div class="twitter-time">
                    <div id="fb-root"></div>
                    <a class="twitter-timeline" href="https://twitter.com/TeknodeliFatih" data-widget-id="567120614155386880">TeknodeliFatih tarafından gönderilen tweetler</a>
                    <style type="text/css">
                        iframe[id^='twitter-widget-'] {
                            width: 100% !important;
                            height: 475px !important;
                        }
                    </style>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>

                <br />
                <script language="JavaScript" type="text/javascript" src="http://www.erkaseriilan.com.tr/sayac.php?url=fatihyazici.kim"></script>

            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="renk alt">
                <center> <span class="text-muted"><b>Copyright 2015 Fatih YAZICI - MyWeb Open Source Blog Projesi | fatihyazici1010@gmail.com</b></span></center>
            </div>
        </div>
    </footer>

</body>
</html>
